.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  gap: 1rem;

  border-radius: 5px;
  border: 1px solid var(--color);
}
.product_image {
  height: auto;
  width: 100%;
  max-width: 9rem;
  object-fit: cover;
  border: 1px solid var(--accent-color-2);
  border-radius: 0.5rem;
}
.product_title {
  margin: 0;
  text-align: left;
  color: var(--color);
}

.product_detail {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  gap: 0.5rem;
}
.product_controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  gap: 0.5rem;
}
.product_count {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product_count-tooltip {
  line-height: 1;
  font-size: 1.2rem;
}

.count {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 1rem;
}
.count__plus,
.count__minus,
.count__amount {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
  /* border: 1px solid; */
}
.count__amount {
  height: 4rem !important;
  padding: 0 !important;
  width: 4rem !important;
  border-radius: 0 !important;
  border: none !important;
  background: var(--bg-color) !important;
  overflow: visible !important;
}
