.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;

  border-radius: 5px;
  border: 1px solid var(--color);

  /* backdrop-filter: blur(15px); */
}
.product_image {
  height: 9rem;
  width: 9rem;
  border: 1px solid var(--accent-color-2);
  border-radius: 0.5rem;
}
.product_title {
  margin: 0;
  text-align: center;
}

.product_detail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: space-between;
  /* text-align: left; */
  margin: 0;
  gap: 1rem;
}
/* .product_unit {
  margin: 0;
} */
.product_controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.product_count {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count {
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
  /* border: 1px solid; */
  padding: 0.5rem;
  background-color: var(--glas);
  border-radius: 1rem;
}
.count__plus,
.count__minus,
.count__amount {
  width: 5rem;
  max-width: 5rem;
  height: 5rem;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-align: center;
}
.count__amount {
  border: none !important;
}
