.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 1rem;

  border-radius: 5px;
  border: 1px solid var(--accent-color-2);
  background: var(--glas);
  box-shadow: 0px 2.77px 11px 0px rgba(0, 0, 0, 0.02),
    0px 13.096px 43px 0px rgba(0, 0, 0, 0.02),
    0px 34px 135px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}
.product_image {
  height: 5rem;
  width: 5rem;
  border: 1px solid var(--accent-color-2);
  border-radius: 0.5rem;
}
.product_title {
  margin: 0;
  text-align: center;
}

.product_detail {
  height: 100%;
  width: 100%;
  align-self: flex-start;
  text-align: left;
  margin: 0;
  gap: 1rem;
}
/* .product_unit {
  margin: 0;
} */
.product_controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.product_count {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
}
.count__plus,
.count__minus,
.count__amount {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.5rem;
  margin: 0;
}
