.schedule {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 1rem 0.3rem 0;
}
.schedule_today {
  margin: 0;
  text-align: center;
}
.schedule_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  padding: 0 0.5rem;
}
.schedule_header-week {
  margin: 0;
  line-height: normal;
  text-align: center;
}

.schedule_header-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.schedule_week-schedule {
  display: flex;
  flex-direction: column;
}
.schedule_week-header {
  display: flex;
  justify-content: space-between;
}
.schedule_week-header-day {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* line-height: 1rem; */
}
.schedule_week-header-day-name {
  font-weight: 600;
  /* line-height: 1rem; */
}
.schedule_week-box {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.schedule_week-location-box {
  display: flex;
  flex-direction: column;
  /* gap: 0.1rem; */
  padding: 0 0.3rem;
  /* border: 1px solid; */
  /* border-radius: 1rem; */
}
.schedule_week-location {
  font-weight: 600;
}
.schedule_week-location-schedule {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.schedule_week-location-day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 14%;
  gap: 0.1rem;
  position: relative;
}
.schedule_user-select {
  margin: 1rem 0;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-size: cover;
}
.schedule_user-avatar {
  border: 1px solid;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.schedule_user-name {
  position: relative;
  /* margin-top: -2rem;
  top: -3rem;
  z-index: 10; */
  font-size: 1rem;
  line-height: 1.1rem;
}
.schedule_buttons-box {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}
