.photo-picker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.photo-picker_label {
  width: 11rem;
  height: 9.1rem;
  border-radius: 0.5rem;
  border: 1px solid;
  background-position: center;
  background-size: cover;
  background-image: url(./img/placeholder.jpg);
  padding: 5rem 1rem 1rem 1rem;
  font-size: 1rem;
  color: var(--accent-color-2);
  text-align: center;
}
.photo-picker_input {
  visibility: hidden;
}
