.order {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;
}
.order_title {
  margin-bottom: 0.5rem;
  position: sticky;
  display: block;
}
.order_cafe-select {
  margin-bottom: 0.5rem;
}
.order_cafe-option {
}
.order_button {
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  gap: 0.5rem;

  /* backdrop-filter: blur(2px); Розмиття фону */
  /* border: 1px solid rgba(255, 255, 255, 1); */

  border-radius: 5px;
  border: 1px solid #eee;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 2.77px 11px 0px rgba(0, 0, 0, 0.02),
    0px 13.096px 43px 0px rgba(0, 0, 0, 0.02),
    0px 34px 135px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
}
.product_image {
  height: 4rem;
  width: 4rem;
  border: 1px solid;
}
.product_title {
  margin: 0;
}
.product_image-placeholder {
  width: 5rem;
  height: 5rem;
  /* border-radius: 1rem; */
}
.product_detail {
  height: 100%;
  width: 100%;
  align-self: flex-start;
  text-align: left;
  margin: 0;
  gap: 1rem;
}
.product_unit {
  margin: 0;
}
.count {
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
}
.count__plus,
.count__minus,
.count__amount {
  width: 4rem;
  height: 4rem;
  padding: 0 1rem;
  /* line-height: 3rem; */
  margin: 0;
}
.count__amount {
  /* padding: 0.5rem;
  margin: 0;
  width: 3rem;
  height: 3rem; */
}

.login {
  width: 100%;
  height: 100%;
  max-width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 40% 1rem 6rem;
  background-color: var(--bg-color);
}
.login_logo-box {
}
.login_title {
  padding: 0;
  margin: -2rem 0 0 -1rem;
  color: var(--color);
}
.login_avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
.login_button {
  width: 100%;
  align-self: flex-end;
}

.order-designer {
  overflow-y: auto;
  padding: 1rem 1rem 6rem;
}
.order-designer_top-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.order-designer_params {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-designer_product {
  display: flex;
  gap: 1rem;
}
.order-designer_title {
}
.order-designer_input {
  width: 100%;
}
.order-design_controll-button {
  width: 100%;
}

.photo-picker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.photo-picker_label {
  width: 11rem;
  height: 9.1rem;
  border-radius: 0.5rem;
  border: 1px solid;
  background-position: center;
  background-size: cover;
  background-image: url(./img/placeholder.jpeg);
  padding-top: 7rem;
  font-size: 1rem;
  color: silver;
}
.photo-picker_input {
  visibility: hidden;
}
